@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <h3 class="text-danger">You have to logout because you blocked all users</h3>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-white btn-primary">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
